@media (max-width: 1440px) {
  .block1-1 {
    width: 450px;
  }
  .block-2-hr-2 {
    width: 240px;
  }
}
@media (max-width: 1024px) {
  .block1-1 {
    width: 320px;
  }
  .block-2-hr-2 {
    width: 340px;
  }
  .block-2-img {
    width: 280px;
  }
}
@media (max-width: 770px) {
  .main-section {
    margin-top: 70px;
  }
  .block-2-hr-2 {
    width: 240px;
  }
  .block-2-img {
    width: 250px;
  }
}
@media (max-width: 450px) {
  .block-2-hr-2 {
    width: 140px;
  }
  .block-img {
    width: 280px;
  }
  
}
@media (max-width: 535px) {
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
@media (max-width: 905px) {
  .block-4 {
    display: none;
  }
}