@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

header {
  background-image: url(../images/Ramadan\ 2023.jpg);
  height: 83.5vh;
  background-size: cover;
  background-position: bottom;
}
section {
  background: url(../images/Layer\ 1.png);
  background-size: 600px;
  min-height: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}

.navigation-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #5656ff;
  height: 70px;
}

.logo {
  font-size: 25px;
  color: #fff;
  font-family: "gloock";
  letter-spacing: 8px;
}

.navigation-links ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.navigation-links ul li {
  padding: 0 15px;
  list-style-type: none;
}

.navigation-links ul li a {
  font-size: 14px;
  color: #a8a8a8;
  text-decoration: none;
}

.navigation-links ul li a:hover {
  color: #fff;
}

.translate a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 2px;
}

.ramn {
  display: flex;
  justify-content: center;
  height: 81vh;
  align-items: center;
  font-size: 45px;
  letter-spacing: 8px;
  font-family: "gloock";
  color: #fff;
}

.ijtimoiy-tarmoq {
  display: flex;
  justify-content: center;
}

.ijtimoiy-tarmoq a {
  padding: 0 5px;
}

.ijtimoiy-tarmoq a i {
  padding: 7px 0px 0 0;
  text-align: center;
  width: 35px;
  height: 35px;
  font-size: 20px;
  color: #fff;
  background: #008cff;
  border-radius: 50%;
}

/*---------------------------------*/

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
  background: #7a52b3;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar {
  background-color: rgb(86, 86, 255);
}

.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 1);
}

/*-----------------------------------------------------------*/
.section-background {
  background-image: url(./images/Layer\ 1.png);
  background-size: 600px;
}

.card-header h1 {
  font-size: 45px;
  font-family: "roboto slab";
  text-align: center;
  padding: 30px 0 50px 0;
}

.section-container {
  width: 1530px;
  margin: 0 auto;
}

.sel-1 > select {
  background-color: rgb(86, 86, 255);
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

.p-grey {
  color: #70727b;
}

.h1-block1 {
  text-align: center;
}

.block {
  display: inline-block;
  max-width: 327px;
  z-index: 2;
  padding: 20px 15px 0 15px;
}

.block:hover {
  transform: scale(1.2);
}

.ijtimoiy-tarmoq {
  z-index: 50;
}

.block-img {
  height: 215px;
  width: 337px;
  border-radius: 20px;
  padding: 0 10px;
}

.block-1 {
  text-align: center;
  margin: 0px auto;
}
.h1-block-1 {
  padding: 20px;
}

/*------------------------------------------*/

/*------------------------------------*/
.block1-1 {
  background-color: #fff;
  padding: 0 20px;
  display: inline-block;
  width: 577px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 15px 2px rgb(0 0 0 / 10%);
  border: 1px solid rgba(0, 0, 0, 0.03);
}
.block1-1:hover {
  box-shadow: none;
}
.center {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 25px;
}

.block-2-h2 {
  font-size: 30px;
  padding: 10px 0px;
}

.block-2-hr {
  margin: 0px auto;
  width: 50px;
  height: 4px;
  background-color: #938956;
  padding-top: -20px;
}

.block-2-hr-2 {
  margin: 0px auto;
  width: 500px;
}

.block-2-h5 {
  font-size: 17px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #006633;
}

.block-2-h6 {
  font-weight: 200;
  margin-top: 15px;
  font-size: 15px;
}

.block-2-h6-2 {
  font-size: 15px;
}

.block2-h4 {
  margin-top: 10px;
  color: #ff5517;
  font-size: 25px;
}

.block-2-btn {
  width: 160px;
  height: 50px;
  background-color: #509f40;
  border-radius: 30px;
  font-size: 17px;
  color: #fff;
  margin-top: 20px;
  border: none;
  margin-bottom: 30px;
}

.block-2-btn:hover {
  background-color: #008cff;
  cursor: pointer;
}

.block-2 {
  text-align: center;
}

.block-2-img {
  margin-top: 30px;
  width: 411px;
  height: 308px;
}

/* ------------------------------------- */
/* ---------------------------------------- */
.block-3-container {
  width: 1740px;
  margin: 0 auto;
}

.block-3 {
  text-align: center;
}

.left-header p {
  font-size: 25px;
  font-weight: normal;
}

.left-header span {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #509f40;
  font-family: "Gloock";
}

.left-smth p {
  color: #333;
  font-size: 17px;
  line-height: 1.6;
}

.left-smth button {
  margin-top: 30px;
  background-color: #509f40;
  color: #fff;
  border: none;
  padding: 10px 20px 9px;
  text-align: center;
  text-transform: capitalize;
  font-size: 17px;
  border-radius: 50px;
  width: 160px;
  min-height: 45px;
  text-shadow: 2px 2px 3px rgb(0 0 0 / 37%);
}

.left-smth button:hover {
  background-color: #008cff;
  cursor: pointer;
}

.right-smth-p {
  display: flex;
  justify-content: center;
}

.right-header p {
  font-size: 25px;
  font-weight: normal;
}

.right-header span {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #509f40;
  font-family: "Gloock";
}

.block3__h1 {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  color: #509f40;
  font-family: "Gloock";
}
.block3__h6 {
  color: #333;
  font-size: 17px;
  line-height: 1.6;
}
.block3-1 {
  max-width: 820px;
  display: inline-block;
  text-align: left;
}
.block3__spam {
  font-weight: 400;
}
.dlock3-inline div {
  display: inline-block;
  margin-left: 10px;
}
.block3-2 {
  display: inline-block;
}
.block-3 {
  margin-top: 30px;
}
/* --------------------------------- */
/* ------------------------------- */
.block-4 {
  padding: 15px;
  width: 100%;
  background-color: #6270da;
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block-4-img img {
  padding: 0 15px;
}
/* ----------------------------- */
/* ---------------------------------- */
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left {
  width: 40%;
}
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}
.footer-distributed h3 span {
  color: #5383d3;
}
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  list-style-type: none;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}
.footer-distributed .footer-right {
  width: 20%;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 25px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
}
