@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.clr{
    clear: both;
}

.navigation-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(86, 86, 255);
  height: 70px;
}

.logo {
  font-size: 25px;
  color: #fff;
  font-family: "gloock";
  letter-spacing: 8px;
}

.navigation-links ul {
  display: flex;
  justify-content: space-around;
}

.navigation-links ul li {
  padding: 0 15px;
  list-style-type: none;
}

.navigation-links ul li a {
  font-size: 14px;
  color: #a8a8a8;
  text-decoration: none;
}

.navigation-links ul li a:hover {
  color: #fff;
}
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 75px;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 70px;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar {
  background-color: rgb(86, 86, 255);
}

.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 1);
}
/* ------------------------ */
.header-tyc > p{
  color: #000;
  margin: 50px 0px 50px 20px;
}
.header-tyc > p > span {
  color: #a8a8a8;
}
.header-tyc > h1 {
  font-size: 30px;
  font-family: none;
  color: #5656ff;
  margin: 30px 0px 50px 20px;
}
.img-tyc {
  float: left;
  padding: 0px 20px;
  width: 300px;
  height: 163px;
}
.tyc-header {
  font-size: 20px;
  padding: 0 0 10px 0;
}
.hr {
  color: #000;
  margin: 50px 0;
}
.hr1 {
  color: #fff;
  margin: 50px 0 0 0;
}
.tyc-btn {
  background-color: #5383d3;
  width: 150px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 50px;
}
/* ---------------------------- */
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer-distributed .footer-left {
  width: 40%;
}
.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}
.footer-distributed h3 span {
  color: #5383d3;
}
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  list-style-type: none;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}
.footer-distributed .footer-right {
  width: 20%;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 25px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
}

/* If you don't want the footer to be responsive, remove these media queries */


